{% extends "base.html" %}
{% block title %}User registration{% endblock %}
{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<h1 class="display-4">User Registration</h1>
<div class="form">
<form method="POST" action="">
    <ul class="name">
    <li class="name-list"><div class="form-group">
        {{ render_field(form.first_name, class="form-control") }}
    </div></li>
    <li class="name-list"><div class="form-group">
        {{ render_field(form.last_name, class="form-control") }}
    </div></li>
        </ul>
    <div class="form-group">
        {{ render_field(form.gender, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.date_of_birth, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.date_joined, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.email, class="form-control") }}
    </div>
    <div>{{error}}</div>
    <div class="form-group">
        {{ render_field(form.phone, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.address, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.password, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.c_password, class="form-control") }}
    </div>
<input type="checkbox" onclick="myFunction()">Show Password
    <div class="error">{{error}}</div>
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>
    </div>
<script>
function myFunction() {
  var x = document.getElementById("password");
  var y = document.getElementById("c_password")
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }

  if (y.type === "password") {
    y.type = "text";
  } else {
    y.type = "password";
  }
}
</script>
<style>

body {
background-image: url("images/register.jpg");
  height: 100%;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image-opacity: 50%;
  color: white;
}
h1{
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 50px;
    text-align: center;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    border:1px solid black;
    border-radius: 5px;
    padding-bottom: 10px;

}
.form{
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    border:1px solid black;
    border-radius: 5px;
}
.name{
list-style-type: none;
margin: 0;
  padding: 0;
  overflow: hidden;

}
.name-list{
display: inline-block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
#first_name{
width: 300px
}
#last_name{
width: 300px
}
li{
list-style-type: none;
}

</style>
{% endblock %}
